*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: top;
    background-image:url(assets/img/logo-ajan-2.jpeg);
    background-size: cover;
    background-position: center ;
    background-attachment: fixed; 
}
   
.navbar{
    background-color: rgb(32, 32, 32);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    min-height: 30px;
}

.nav-link{ color: azure;}
.nav-link:hover {color:rgb(241, 153, 117)}

.logo-akan{
    min-width: 70px;
    max-width: 70px;
}

.navbar-brand{color: azure;}
.navbar-brand:hover{color:rgb(224, 104, 160)}

.navbar-toogler{ 
    font-size: 35px;
    color: azure;
}

.text-center {
    font-size: 40px;
    color: rgb(131, 130, 130);
}

.form-group {
    padding: 0;
    margin: auto;
    color: slategray;
}

#login {
    position:static ;
}
#img {
    padding: 0;
    margin: 0;
    background: transparent;
   
}
#contraseña {
    padding: 0;
    border: 0;
}

#logo {
    height:100% ;
    width: 50%;
}

.img-logo{
    min-width: 110px;
    max-width: 115px;
}

/* footer  */
.footer{
    background-color: black;
   font-size: 15px;
}
#f-text {
    font-size: 15px;
}


