* {
    box-sizing: border-box;
 
  }
  
  body {
     font-size: top;
     background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
.carrito{
    background-color: white;

}


