* {
  box-sizing: border-box;
}
body {
  font-size: top;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.text-center {
  font-size: 40px;
  color: rgb(131, 130, 130);
}

.form-group {
  padding: 0;
  margin: auto;
  color: slategray;
}

#login {
  position: static;
}
#img {
  padding: 0;
  margin: 0;
  background: transparent;
}
#contraseña {
  padding: 0;
  border: 0;
}

#logo {
  height: 100%;
  width: 50%;
  opacity: 80%;
}

.img-logo {
  min-width: 110px;
  max-width: 115px;
}
