
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    background-image: url(/assets/img/fondoColores.png);
    background-color: #dadada;
 
}

h1{
    font-size: 46px;
    text-align: center;
}
h2,h3{
    font-size: 36px;
    text-align: center;
    }
p{
    font-size: 24px;
    text-align: center;
}

.navbar{
    background-color: rgb(32, 32, 32);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    min-height: 30px;
}
.nav-link{ color: azure;}
.nav-link:hover {color:rgb(241, 153, 117)}
.logo-akan{
    min-width: 70px;
    max-width: 70px;
}
.navbar-brand{color: azure;}
.navbar-brand:hover{color:rgb(224, 104, 160)}
.navbar-toogler{ 
    font-size: 35px;
    color: azure;
}
.img-portada{
    background-image: url("/PROYECTO_AKAN/assets/img/portadaAkan.jpeg");
    min-width: cover;
    min-height: 500px;
}

/* footer  */
.pie-pagina{
    width: 100%;
    background-color: rgb(32, 32, 32); }

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.pie-pagina .grupo-1 .box figure img{ width: 190px; }

.pie-pagina .grupo-1 .box h2{
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    font-size: 20px;}

.pie-pagina .grupo-1 .box p{
    color: white;
    margin-bottom: 10px;}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(46, 46, 46);
    text-align: center;
    transition: all 300ms ease;}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
    align-items: center;}

.pie-pagina .grupo-2{
    background-color: rgb(32,32,32);
    padding: 15px 10px;
    text-align: center;
    color: #fff;}

.pie-pagina .grupo-2 small{ font-size: 15px;}

@media screen and (max-width: 800px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;}}

.img-logo{
    min-width: 110px;
    max-width: 115px;
}

