.text-center {
  font-size: 40px;
  color: rgb(131, 130, 130);
}

.form-group {
  padding: 0;
  margin: auto;
  color: slategray;
}

#signin {
  position: static;
}

#logo {
  height: 100%;
  width: 650px;
  opacity: 80%;
  
}

.img-logo {
  min-width: 110px;
  max-width: 115px;
}
