body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(/assets/img/logo-akan.jpeg);
    background-size: cover;
    background-position: center ;
    background-attachment: fixed; 
}
   


.navbar{
    background-color: rgb(32, 32, 32);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    min-height: 30px;
}

.nav-link{ color: azure;}
.nav-link:hover {color:rgb(241, 153, 117)}

.logo-akan{
    min-width: 70px;
    max-width: 70px;
}

.navbar-brand{color: azure;}
.navbar-brand:hover{color:rgb(224, 104, 160)}

.navbar-toogler{ 
    font-size: 35px;
    color: azure;
}

.text-center {
    font-size: 40px;
    color: rgb(131, 130, 130);
}

.form-group {
    padding: 0;
    margin: 0;
    color: slategray;

}
#login {
    position:static ;
}
#img {
    background: transparent;
    opacity: 0.7;
}

.footer {
    background-color: #3f4140;
    display: block;
}
