body {
    font-family: 'Roboto', sans-serif;
font-family: 'Titillium Web', sans-serif;
}

.navbar{
    background-color: rgb(32, 32, 32);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    min-height: 30px;
}

.nav-link{ color: azure;}
.nav-link:hover {color:rgb(241, 153, 117)}

.logo-akan{
    min-width: 70px;
    max-width: 70px;
}

.navbar-brand{color: azure;}
.navbar-brand:hover{color:rgb(224, 104, 160)}

.navbar-toogler{ 
    font-size: 35px;
    color: azure;
}

.card-img-top {
    height: 300px;  
    width: 427px;
    object-fit: cover;
    
    }

.img-fluid{  
    width: 100%;
    height: 550px;
}

.footer {
    background-color: #61D7BB;
    display: block;
}